@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;500;700&display=swap');

.menu-style {

    height: 100vh;
    width: 200px;
    position: fixed;
}

.side-bar-custom-style {
    padding: 24px 24px 16px;
    background-color: #ffffff;
}

.ant-layout-sider-collapsed {
    padding: 0px !important;

    .ant-menu-select-company {
        span {
            display: none;
        }

        display: grid;
    }

    .ant-menu-item {
        display: flex;
        justify-content: center !important;
        align-items: center !important;
        padding: 12px 8px 12px 6px !important;

        .menu-count {
            display: none;
        }
    }
}

.side-menu {
    height: 100vh;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: -0.03em;
    color: #1D2939;
    border: 0px;

    .ant-menu-item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 12px 8px 12px 6px !important;

        a {
            display: flex;
            align-items: center;
        }

        .anticon {
            font-size: 22px !important;
        }
    }

    .ant-menu-item-active {
        background: #F2F4F7 !important;
        border-radius: 8px !important;
        color: black !important;

        a {
            color: black;
        }
    }

    .ant-menu-item-selected {

        /* Gray / 100 */

        background: #F2F4F7 !important;
        border-radius: 8px !important;

        a {
            color: black;
        }

        // after


        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            background: #F2F4F7;
            z-index: -1;
        }

    }




}

.ant-menu-custom-style {

    margin-bottom: 30px;
}

.ant-menu-select-company {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #1D2939;

    .side-select-company-icon {
        width: 24px;
        height: 24px;
        background: #1D2939;
        border-radius: 4px;
        margin-right: 10px;
    }
}

.menu-count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 20px;
    height: 20px;
    background: #1D2939;
    border-radius: 6px;
    position: absolute;
    right: 15px;

    font-family: 'Karla';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;

    color: #FFFFFF;
}

.sections-container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    .list-section {
        flex: 0 0 auto;
        width: 320px;
        height: 300px;
        margin: 10px 10px;
    }

    .list-section-header {
        height: 40px;
        display: flex;
        justify-content: space-between;
        font-family: 'Karla';
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.0075em;
        color: #667085;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .list-section-body {
        height: 100%;
    }
}

.todo-list-card {
    background: #FCFCFD;
    box-shadow: 0px 0.5px 2px rgba(16, 24, 40, 0.3);
    border-radius: 8px;
    margin-bottom: 8px;
    padding: 16px 8px;

    .ant-card-head {
        border-bottom: 0px !important;
        font-family: 'Karla';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 150%;
        color: #1D2939;
    }

    .todo-created-date {
        font-family: 'Karla';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: -0.02em;
        color: #98A2B3;
        position: absolute;
        margin-top: -15px;
    }

    .todo-card-description {
        margin-top: 20px;
        font-family: 'Karla';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 120%;
        letter-spacing: -0.02em;
        color: #98A2B3;
        align-self: stretch;
    }

    .todo-card-img {
        width: 280px;
        height: 80px;
        border-radius: 8px;
        flex: none;
        align-self: stretch;
        flex-grow: 0;
    }

    .todo-card-addition {
        display: flex;
        align-items: center;
        margin-top: 20px;
        font-family: 'Karla';
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 18px;
        color: #98A2B3;
    }

    .todo-card-labels {
        margin-top: 14px;

        .colorful-label {
            margin: 5px 5px 0px 0px;
            border-radius: 4px;
        }
    }

    .todo-card-comment {
        margin-top: 14px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .todo-comment-area {
            font-family: 'Karla';
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 18px;
            color: #98A2B3;
        }

        .ant-avatar {
            width: 24px;
            height: 24px;
            font-size: 12px;
            line-height: 24px;
            margin-right: 3px;
        }
    }
}

.ml-10 {
    margin-left: 10px;
}

.ml-15 {
    margin-left: 15px;
}

.mr-5 {
    margin-right: 5px;
}

.strong-text {
    font-family: 'Karla';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.0075em;
    color: black !important;
}